@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */


h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}


button.normal{
  /* font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #070707;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: 0.2s; */
  padding: 13px 13px;
  margin: 14px 14px;
  font-size: 15px;
  border-radius: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  color: #111111;
  position: relative ;
  bottom: 20px;
  right: 10px;
  border: none;
  cursor: pointer;
}
button.normal:hover{
  background: rgb(243, 181, 25);
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

/* Login Page */


/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(./img/login/log3.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;

} */

.login-container {
  background-image: url(./img/login/log3.jpg);
  background-size: cover;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  border-radius: 20px;
  height: 80%;
  width: 30%;
}

h2 {
  margin: 30px 30px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: none; /* Remove the default border */
  outline: none;
  border-radius: 0; 
  background-color: transparent; 
  color: #f0308a; 
  border-bottom: 1px solid #f8f7f7; 
  width: 70%; 
  margin-left: 10%; 

}

/* #username ::placeholder */

#username,
#password{
font-size:16px ;
margin-top: 50px;

}

#username:hover,
#password:hover{
color: white;
font-weight: 650;
}

.text span{
  display: flex;
  justify-content: right;
  margin-top: 40px;
}

input[type="submit"] {
  background-color: #f0308a;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #301741;
}

/* Header*/

#header{
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e9fc41;
    /* #E3E6F3; */
    box-shadow: 0px 5px 15px rgba(114, 113, 113, 0.6);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}


#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    
}


#navbar li{
    list-style-type: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active
{
color: #1c9105;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
     background: #070707;
     position: absolute;
     bottom: -4px;
     left: 20px;
}
#navbar li a img{
    
    width: 60px;
    height: 60px;
}

#mobile{
  display: none;
  align-items: center;

}
#close{
  display: none;
}
/* Home Page */

#hero{
    background-image: url("img/hero4.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
padding: 0 80px;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;

}
#hero h4{

     padding-bottom: 15px;
}
#hero h1{
    color: #1c9105;
}

#hero button{
    background-image: url(img/button.png);
    background-color: transparent;
    color: #1c9105;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;

}

#feature{
    display: flex;
    align-items: center;
justify-content: space-between;
flex-wrap: wrap;

}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(192, 190, 190, 0.3);
    border-radius: 8px;
    border: 1px solid #cce7d0;
    margin: 15px 0;
transition: .2s ease;
}

#feature .fe-box:hover{
/* box-shadow: 10px 10px 54px #f7e703; */
box-shadow: 12px 12px 15px rgba(0, 0, 0, 0.35);
}


#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height:1 ;
    border-radius: 4px;
    color: #1c9105;
    background-color: #fddde4;
}
  
#feature .fe-box h6:hover{
  color: #1a1a1a;
  cursor: pointer;
  
}
#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
    
}
#feature .fe-box:nth-child(n) h6:hover{
  background-color: #d9ff04;}

#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
    
}

#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
    
}

#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
    
}

#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
    
}

#product1{
  text-align: center;
}

#product1 .pro-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
}

#product1 .pro {
  width: calc(25% - 30px); /* 30px is the combined value of left and right margins */
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px;
  transition: 0.4s ease;
  position: relative;
}
#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.35);
}

#product1 .pro img{
  
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des{
  text-align: start;
  padding: 10px 0;

}
#product1 .pro .des span{
 color: #606063;
 font-size: 13px; 
}
#product1 .pro .des h5{
  padding: 7px 0;
  color: #1a1a1a;
  font-size: 14px;
}
#product1 .pro .des i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#product1 .pro .des h4{
  padding: 7px 0 ;
  font-size: 15px;
  font-weight: 700;
  color: #1c9105;
}

#product1 button{
  padding: 8px 8px;
  margin: 12px 12px;
  border-radius: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  color: #111111;
  position: absolute ;
  bottom: 20px;
  right: 10px;
  border: none;
  cursor: pointer;
}

#product1 button:hover{
  
  /* box-shadow: 3px 3px 4px rgb(233, 236, 6); */
  /* background: #f6fa18; */
  background: rgb(243, 181, 25);
  
  /* 2ce008 */
}

#banner{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
background-image: url(img/banner/b2.jpg);
width: 100%;
height: 40vh;
background-size: cover;
background-position: center;


}

#banner h4{
  color: white;
  font-size: 16px;
}

#banner h2 {
  color: white;
  font-size: 30px;
padding: 10px 0;
}

#banner h2 span{
  /* color: #ef3636; */
  color: rgb(243, 181, 25);
}


#sm-banner .banner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 170px;;
  /* background-image: url(img/banner/b17.jpg); */
  background-image: url(img/banner/SAVE_20230722_133244-01.jpeg);
  min-width: 580px;
  height: 70vh;
  background-size: cover;
  background-position: center;
  color: rgb(243, 181, 25);
  
}

#sm-banner .banner-box h2{
  color:rgb(243, 181, 25);
  transform: rotate( 8deg);
  margin-top: 10px;
  /* Optional: Center the heading on the page */
}

#sm-banner .banner-box h4{
  color:#79121c;
  transform: rotate( 8deg);
  margin-top: 31px;}

#sm-banner .banner-box button{

  transform: rotate( 8deg);
  margin-top: 15px;
  /* Optional: Center the heading on the page */
   padding: 5px 10px 5px 10px; 
 /* margin: 14px 14px; */
  margin-top: 30px;
  font-size: 15px;
  border-radius: 15px;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-weight: 700;
  color: #111111;
  position: relative ;
  bottom: 20px;
  right: 10px;
  border: none;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#sm-banner .banner-box button:hover{
  /* background: rgb(243, 181, 25); */
  background: #91121f;
  color: white;
}

#banner3{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;

}
#banner3 .banner-box {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
background-image: url(img/banner/b7.jpg);
min-width: 30%;
height: 30vh;
background-size: cover;
background-position: center;
padding: 30px;
margin-bottom: 20px;
}

#banner3 h2{
  color: white;
  font-weight: 900;
  font-size: 22px;
}

#banner3 h3{
  color: #e9fc41
}

#banner3 .banner-box2{
  background-image: url(img/banner/b4.jpg);
}
#banner3 .banner-box3{
  background-image: url(img/banner/b18.jpg);
}

#newsletter{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(img/banner/b14.jpg);
  background-repeat: no-repeat;
background-position: 20% 30%;
background-color: #041e42;

}

#newsletter h4{
  font-size: 22px;
  font-weight: 700;
  color: white;
}

#newsletter p{
  font-size: 14px;
  font-weight: 600;
  color: #e9fc41;
}

#newsletter p span{
  font-size: 14px;
  font-weight: 600;
color: #32f50b;
}

#newsletter input{
  height: 2.8rem;
  padding: 0 1.25px;
  font-size: 14px;
  width: 37%;
  border: 2px solid #e9fc41;
  border-top-left-radius: 25px;
  outline: none;
  transition: 1s ease;
  margin-left: 30%;}

#newsletter input:hover{
  width: 50%;
}

.form button{
  height: 2.8rem;
  /* margin-top: 10px; */
  background-color: transparent;
  border: 2px solid white;
  color: #cce7d0;
  border-bottom-right-radius: 25px;
  /* padding: 6px 10px; */
  cursor: pointer;
  font-weight: 650;
  transition: .5s ease;
  width: 80px;
}

.form button:hover{
  color: #32f50b;
  border: 2px solid #e9fc41;
}

#newsletter .form{
  display: flex;
  width: 40%;
}

#form1{
  display: none;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer.logo {
  margin-bottom: 30px;
}

footer h4{
font-size: 14px;
padding-bottom: 20px;
}

footer p{
  font-size: 14px;
  margin: 0 0 8px 0;
}

footer a{
  font-size: 14px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow{
  margin-top: 20px;
}
footer .follow i{
color: #3f4643;
padding-right: 4px;
cursor: pointer;
}

footer.install img{
 margin: 10px 0 15px 0;
}

footer .install .row img{
  border: 1px solid #d3e90d;
  border-radius: 6px;
}
footer .install .row img:hover{
  border: 2px solid #2bb80f;
}

footer .install img{
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover{
  color: #2bb80f;
  /* font-weight: 650; */
}

#copyright{
  width: 100%;
  text-align: center;
}

/* SHOP PAGE */

#page-header{
background-image: url(img/shopbanner4.jpg);
width: 100%;
background-size: cover;
background-position: center -500%;
height: 40vh;
display: flex;
justify-content: center;
text-align: left;
flex-direction: column;
color: #d9ff04;
padding-left: 20px;
}

#page-header h2, 
#page-header p{
  color: #111111;
}

#page-header h2 span{
  color:  #fffb05;
}
#page-header h3 span{
color: #ffffff;
}
#pagination{
  text-align: center;
}
#pagination a{
  text-decoration: none;
  background-color: rgb(56, 178, 235) ;
  padding: 15px 20px;
  margin: 1.5px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  transition: .4s ease;

}

#pagination a:hover{
  background-color: white;
  color: rgb(56, 178, 235);
  
}

/* Single Product  */

#prodetails{
  display: flex;
  margin-top: 20px;
}
#prodetails .single-pro-image{
width: 40%;
margin-right: 50px;

}

.small-img-group{
  display: flex;
  justify-content: space-between;
}

.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}

/* Styling for the custom select */
.custom-select {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 13px;
  color: #000000;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 3px;
  appearance: none; /* Remove default styles on certain browsers (e.g., Safari) */
 
}

/* Styling for the arrow icon */
.custom-select::after {
  content: "\f078"; /* Unicode for the down arrow icon (Font Awesome) */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 10px;
  top: 50%;
  /* transform: translateY(-50%); */
  pointer-events: none; /* To make the arrow non-clickable */
}

/* Hover effect */
.custom-select:hover {
  border-color: #999;
  background-color: rgb(243, 181, 25);
  
  color: #000000;
  font-weight: 550;
  cursor: pointer;
  /* border-radius: 15px; */
}

/* Transition for smooth effects */
.custom-select {
  transition: border-color, background-color .3s ease;
}

/* Hover effect on the arrow icon */
.custom-select:hover::after {
  color: #555;
}

#prodetails .single-pro-details{
  width: 50%;
  padding-top: 30px;
}

#prodetails .single-pro-details h4{
  padding: 40px 0 20px 0;

}

#prodetails .single-pro-details h2{
   font-size: 26px;

}

#prodetails .single-pro-details input{
  width: 45px;
  height: 40px;
  margin-top: 5px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 10px;
  border: 2px solid #3083f8;
  transition: .5s ease;
}

#prodetails .single-pro-details input:hover{
  border: 2px solid rgb(197, 197, 7);
  font-weight: 600;
  width: 13%;
}

.single-pro-details i{
  font-size: 35px;
  padding-top: 20px;
  display: inline-block;
  justify-content: top;
  
}

@media screen and (max-width: 799px) {

  #navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 6px rgba(0, 0, 0, 0.01);
    padding: 80px 0 0 10px;
    transition: 0.4s ease;
  }

  #navbar.active{
    right: 0px;
  }
  #navbar li{
    margin-bottom: 25px;
  }
  #mobile{
   display: flex;
   align-items: center;
 
 }
 #mobile i{
   color: #1a1a1a;
 font-size: 24px;
 padding-left: 20px;
 }
 
 #close {
   display: initial;
   position: absolute;
   top: 30px;
   left: 30px;
   color: #222;
   font-size: 24px;
   
 }
 #lg-bag{
   display: none;
 }
  .section-p1 {
    padding: 20px;
  }
  #header {
    padding: 10px 30px;
  }
  h1{
    font-size: 38px;
  }
  h2{
    font-size: 32px;
  }
  #hero{
    padding: 0 20px;
    background-position: 65%;
  }
  #feature {
    justify-content: space-between;
  }
  #feature .fe-box{
    width: 155px;
    margin: 0 0 15px 0;
  }
  #product1 .pro{
    width: 100%;
  }
  #banner{
    height: 40vh;
  }
  #sm-banner .banner-box{
    height: 40vh;
    display: none;
   
    
  }
  #sm-banner .banner-box2{
    margin-top: 20px;
  }
  #banner3 {
    padding: 0 20px;
  }
 #banner3 .banner-box{
  width: 100%;
 }
 #newsletter{
  padding: 40px 20px;
 
 }

 #newsletter input{
  display: none;
 }
 /* #newsletter.newinput input{

 width: 100%;
 margin-left: 0;

} */
.form button{
  display: none;
}
/* Apply flex display to the container that wraps form and button */
#form1 {
  display: flex;
  margin-left: 70px;

  /* align-items: center; Optional: To vertically center the form and button */
}

#form1 input {
  position: relative;
  display: flex;
  height: 1.8rem;
  padding: 0px;
  font-size: 10px;
  width: 90px;
  border: 1px solid #e9fc41;
  border-top-left-radius: 10px;
  outline: none;
  transition: 1s ease;
  margin-left: 40%;
  margin-top: 0px;
}

#form1 input:hover{
  width: 120px;
}

#form1 button {
  border: 1px solid #e9fc41;
  margin-left: 0px; /* Adjust this value as needed to create space between input and button */
  font-size: 10px;
  padding: 0px 15px;
  width: 90px;
  border-bottom-right-radius: 10px;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

 #copyright{
  text-align: center;
 }

 /* single Product */
 #prodetails {
  display: flex;
  flex-direction: column;
 }
 #prodetails .single-pro-image{
  width: 100%;
  margin-right: 0px;
 }
 #prodetails .single-pro-details{
  width: 100%;
 }
}

/* About Page */

#page-header.aboutheader{
background-image: url(./img/about/banner.png);
width: 100%;
height: 300px;
background-size: cover;
background-position: center center;
}

/* justify-content: center; */


#page-header.aboutheader h2{
  color: white;
  display: flex;
  justify-content: center;
}

#page-header.aboutheader p{
  color:#e4fd06 ;
  font-weight: 700;
  display: flex;
  justify-content: center;
}
#about-head{
  display: flex;
  align-items: center;
}
#about-head img{
width: 350%;
height: auto;
margin-left: 5px;
}

#about-head div{
  padding-left: 40px;
}


#about-app{
  text-align: center;

}

#about-app .video video{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
#about-app .video{
width: 70%;
height: 100%;
margin: 30px auto 0 auto; 
}

/* Media query for small screen devices  */
/* About Page */
@media (max-width: 477px) {
  #about-head{
    flex-direction: column;
  }
  #about-head img{
    width: 100%;
    margin-bottom: 20px;
  }

  #about-head div {
    padding-left: 0px;
  }

  #about-app .video{
    width: 100%;
  }
}