@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */


h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

button.normal{
  /* font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #070707;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: 0.2s; */
  padding: 13px 13px;
  margin: 14px 14px;
  font-size: 15px;
  border-radius: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  color: #111111;
  position: relative ;
  bottom: 20px;
  right: 10px;
  border: none;
  cursor: pointer;
}
button.normal:hover{
  background: rgb(243, 181, 25);
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

/* Header*/

#header{
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e9fc41;
    /* #E3E6F3; */
    box-shadow: 0px 5px 15px rgba(114, 113, 113, 0.6);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#navbar li{
    list-style-type: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active
{
color: #1c9105;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
     background: #070707;
     position: absolute;
     bottom: -4px;
     left: 20px;
}
#navbar li a img{
    
    width: 60px;
    height: 60px;
}

/* Home Page */

#hero{
    background-image: url("img/hero4.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
padding: 0 80px;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;

}
#hero h4{

     padding-bottom: 15px;
}
#hero h1{
    color: #1c9105;
}

#hero button{
    background-image: url(img/button.png);
    background-color: transparent;
    color: #1c9105;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;

}

#feature{
    display: flex;
    align-items: center;
justify-content: space-between;
flex-wrap: wrap;

}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(192, 190, 190, 0.3);
border-radius: 8px;
border: 1px solid #cce7d0;
margin: 15px 0;
transition: .5s ease;
}

#feature .fe-box:hover{
/* box-shadow: 10px 10px 54px #f7e703; */
box-shadow: 12px 12px 15px rgba(0, 0, 0, 0.35);
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height:1 ;
    border-radius: 4px;
    color: #1c9105;
    background-color: #fddde4;
}
  
#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
    
}

#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
    
}

#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
    
}

#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
    
}

#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
    
}

#product1{
  text-align: center;
}

#product1 .pro-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
}

#product1 .pro {
  width: calc(25% - 30px); /* 30px is the combined value of left and right margins */
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px;
  transition: 0.4s ease;
  position: relative;
}
#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.35);
}

#product1 .pro img{
  
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des{
  text-align: start;
  padding: 10px 0;

}
#product1 .pro .des span{
 color: #606063;
 font-size: 13px; 
}
#product1 .pro .des h5{
  padding: 7px 0;
  color: #1a1a1a;
  font-size: 14px;
}
#product1 .pro .des i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#product1 .pro .des h4{
  padding: 7px 0 ;
  font-size: 15px;
  font-weight: 700;
  color: #1c9105;
}

#product1 button{
  padding: 8px 8px;
  margin: 12px 12px;
  border-radius: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  color: #111111;
  position: absolute ;
  bottom: 20px;
  right: 10px;
  border: none;
  cursor: pointer;
}

#product1 button:hover{
  
  /* box-shadow: 3px 3px 4px rgb(233, 236, 6); */
  /* background: #f6fa18; */
  background: rgb(243, 181, 25);
  
  /* 2ce008 */
}

#banner{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
background-image: url(img/banner/b2.jpg);
width: 100%;
height: 40vh;
background-size: cover;
background-position: center;


}

#banner h4{
  color: white;
  font-size: 16px;
}

#banner h2 {
  color: white;
  font-size: 30px;
padding: 10px 0;
}

#banner h2 span{
  /* color: #ef3636; */
  color: rgb(243, 181, 25);
}


#sm-banner .banner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 170px;;
  /* background-image: url(img/banner/b17.jpg); */
  background-image: url(img/banner/SAVE_20230722_133244-01.jpeg);
  min-width: 580px;
  height: 70vh;
  background-size: cover;
  background-position: center;
  color: rgb(243, 181, 25);
  
}

#sm-banner .banner-box h2{
  color:rgb(243, 181, 25);
  transform: rotate( 8deg);
  margin-top: 10px;
  /* Optional: Center the heading on the page */
}

#sm-banner .banner-box h4{
  color:#79121c;
  transform: rotate( 8deg);
  margin-top: 31px;}

#sm-banner .banner-box button{

  transform: rotate( 8deg);
  margin-top: 15px;
  /* Optional: Center the heading on the page */
   padding: 5px 10px 5px 10px; 
 /* margin: 14px 14px; */
  margin-top: 30px;
  font-size: 15px;
  border-radius: 15px;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-weight: 700;
  color: #111111;
  position: relative ;
  bottom: 20px;
  right: 10px;
  border: none;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#sm-banner .banner-box button:hover{
  /* background: rgb(243, 181, 25); */
  background: #91121f;
  color: white;
}

#banner3{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;

}
#banner3 .banner-box {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
background-image: url(img/banner/b7.jpg);
min-width: 30%;
height: 30vh;
background-size: cover;
background-position: center;
padding: 30px;
margin-bottom: 20px;
}

#banner3 h2{
  color: white;
  font-weight: 900;
  font-size: 22px;
}

#banner3 h3{
  color: #e9fc41
}

#banner3 .banner-box2{
  background-image: url(img/banner/b4.jpg);
}
#banner3 .banner-box3{
  background-image: url(img/banner/b18.jpg);
}

#newsletter{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(img/banner/b14.jpg);
  background-repeat: no-repeat;
background-position: 20% 30%;
background-color: #041e42;

}

#newsletter h4{
  font-size: 22px;
  font-weight: 700;
  color: white;
}

#newsletter p{
  font-size: 14px;
  font-weight: 600;
  color: #e9fc41;
}

#newsletter p span{
  font-size: 14px;
  font-weight: 600;
color: #32f50b;
}

#newsletter input{
  height: 3.125rem;
  padding: 0 1.25px;
  font-size: 14px;
  width: 40%;
  border: 2px solid #e9fc41;
  border-top-left-radius: 30px;
  outline: none;
  transition: 1s ease;
  margin-left: 30%;}

#newsletter input:hover{
  width: 55%;
}

.form button{
  height: 3.125rem;
  /* margin-top: 10px; */
  background-color: transparent;
  border: 2px solid white;
  color: #cce7d0;
  border-bottom-right-radius: 30px;
  /* padding: 6px 10px; */
  cursor: pointer;
  font-weight: 650;
  transition: .5s ease;
  width: 80px;
}

.form button:hover{
  color: #32f50b;
  border: 2px solid #e9fc41;
}

#newsletter .form{
  display: flex;
  width: 40%;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer.logo {
  margin-bottom: 30px;
}

footer h4{
font-size: 14px;
padding-bottom: 20px;
}

footer p{
  font-size: 14px;
  margin: 0 0 8px 0;
}

footer a{
  font-size: 14px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow{
  margin-top: 20px;
}
footer .follow i{
color: #3f4643;
padding-right: 4px;
cursor: pointer;
}

footer.install img{
 margin: 10px 0 15px 0;
}

footer .install .row img{
  border: 1px solid #d3e90d;
  border-radius: 6px;
}
footer .install .row img:hover{
  border: 2px solid #2bb80f;
}

footer .install img{
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover{
  color: #2bb80f;
  /* font-weight: 650; */
}

#copyright{
  width: 100%;
  text-align: center;
}